.amazon-header {
  background-color: #2874f0;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.amazon-header-left-section {
  width: 250px;

}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }

}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
} 


.amazon-logo {
  width: 100px;
  margin-top: 5px;

}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section {
  flex: 1;
  max-width: 600px;
  margin-left: -00px;
  margin-right: 10px;
  height: auto;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 14px;
  height: 30px;
  padding-left: 15px;
  border: none;
  margin-top: 3px;
  border-radius: 8px;
}

@media(max-width: 650px) {
  .amazon-header-middle-section {
    max-width: 100px;
    margin-left: 0px; 
  }

  .search-bar {
    font-size: 0px;
  }
}

.amazon-header-middle-section:hover {
  border-radius: 10px;
 
}

.search-button {
  background-color: transparent;
  border: none;
  margin-left: -50px;
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  color: #2874f0;
  cursor: text;
}

.search-icon {
  height: 17px;
  margin-top: -0px;
  color: #2874f0;
}

.amazon-header-right-section {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}

.orders-text:hover {
  color: orange;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 3px;
  font-size: 15px;
  font-weight: 700;
}

.cart-text:hover {
  color: orange;
}

.cart-quantity {
  color: white;
  font-size: 11px;
  font-weight: bold;
  border: solid;
  border-radius: 50px;
  border-color: transparent;
  background-color: orangered;
  position: absolute;
  top: 12px;
  left: 25px;
  width: 17px;
  text-align: center;
}
