.login {
    width: fit-content;
    height: 30px;
    min-height: auto;
    padding: 8px;
    margin: auto;

    color: rgb(0, 87, 201);
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: auto;
    min-width: 80px;
}

@media(max-width: 500px) {
  .login {
   margin-right: -10px;
  }
  .flipkart-header-middle-section {
    display: none;
  }
}

@media(max-width: 1200px) {
  .flipkart-header-middle-section {
    max-width: 250px;
  }
  .search-bar {
    font-size: 0px;
  }
}

.login:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px grey;
}

.seller {
    width: auto;
    height: 30px;
    min-height: auto;
    margin: 15px;
    margin-right: 10px;
    color:white;
    background-color: transparent;
    border: none;
    font-weight: bold;
    min-width: auto;
}
@media(max-width: 650px) {
    .seller {
     display: none;
    }
}
.seller:hover {
    color: orange ;
}

.product-name:hover {
  color: #2874f0;
  cursor: pointer;
}

.product-rating-stars {
    width: auto;
    padding: 2.5px;
    max-height: 25px;
    margin-right: 6px;
    color: white;
    border-radius: 10px;
    background-color: green;
}

.product-rating-count {
    color: grey;
    cursor: pointer;
    margin-top: 3px;
}

.product-rating-count:hover {
    color: #2874f0;
}


.product-image:hover {
    transform: scale(1.5);
    border-radius: 20px;
    transition: 3s;
    transition-delay: 400ms;
}

.flex-container {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    border: 0.5px solid silver;
    border-radius: 5px;
    max-width: 80%;
    margin-bottom: 5px;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    gap: 50px;
}

@media(max-width:600px) {
    
    .flex-container {
    gap: 15px;
    padding: 2px;
    max-width: 100px;
    border: none;
    }
    .category {
      width: 60px;
      font-size: 12px;
  }
}

.category {
    color: #333;
    font-weight: 300;
}

.category:hover {
    color: #2874f0;
    cursor: pointer;
}

.category img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.cartlove {
    display: flex;
    flex-direction: row;
}

.heart {
    color: grey;
    background-color: transparent;
    border:none;
}

.heart:hover {
    color: red;
    transform: scale(1.2);
    border: none;
    box-shadow: 10 10 10px;
}

footer {
    background-color: #333333;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    footer {
      padding: 10px;
    }
    
    .footer-links {
      margin-top: 5px;
    }
  }

.product-rating-stars {
    font-size: 0.9rem;
  }

 .product-rating-count {
    font-size: 0.87rem;
  } 

  .deleteHistory {
  color: white;
  font-size: 15px;
  border: solid 0.1px;
  width: auto;
  height: auto;
  min-height: 35px;
  margin-bottom: 10px;
  border-radius: 50px;
  border-color: transparent;
  background-color: orangered;
  }

  .deleteHistory:hover {
   
    background-color: #ff9f00;
    color: #000;
  }

  .gotohome {
    color: white;
    font-size: 15px;
    border: solid 0.1px;
    width: auto;
    height: auto;
    min-height: 35px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-color: transparent;
    background-color: orangered;
    }
  
    .gotohome:hover {
     
      background-color: #ff9f00;
      color: #000;
    }
    
    #snackbar {
      display: none;
      position: fixed;
      bottom: 5%; 
      left: 10%;
      transform: translateX(-50%);
      background-color: #333;
      color: #ff9f00;
      padding: 15px;
      border-radius: 15px;
    }

    @media (max-width: 500px) {
      #snackbar {
        left: 50%;
        font-size: 10px;
      }
    }

    .footer-links a:hover {
      color: #ff9f00;
    }
    
    .fassured {
      max-height: 64px;
      max-width: 64px;
    
    }